;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0-alpha2"]
  [re-frame "0.12.0"]
  [cider/cider-nrepl "0.22.4"]]

 :nrepl {:port 3333}

 :dev-http {8080 "public"}

 :jvm-opts ["-Xmx512M"]

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn acme.frontend.app/init}}}
  :components
  {:target :esm
   :output-dir "public/js"
   :modules
   {:shared {}
    ;; :comp1 {:init-fn acme.frontend.app/mystring
    ;;         :depends-on #{:shared}}
    :comp2 {:init-fn acme.frontend.comp2/comp2string
            :depends-on #{:shared}}
    :comp3 {:init-fn acme.frontend.comp3/my-comp
            :depends-on #{:shared}}
    :re-frame-sub {:init-fn acme.frontend.re-frame-sub/def-comp
                   :depends-on #{:shared}}
    :webcomp {:init-fn acme.frontend.webcomp/my-comp
            :depends-on #{:shared}}
    :app {:init-fn acme.frontend.app/init
          :depends-on #{:shared}}
    }}}}
